<% @layout_application_title = "#{@officer.name} (BPD)" %>
<% @layout_application_description = "#{@officer.first_name_last}, #{@officer.title} in the Boston Police Department.#{@officer.total ? ' 2019 earnings were ' + format_currency(@officer.total) : ''}" %>
<% @layout_application_canonical = officer_url(@officer) %>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h1><%= @officer.name %></h1>
      <dl class="row">
        <dt class="officer__dt">Department:</dt>
        <dd class="officer__dd">Boston Police Department</dt>
        <dt class="officer__dt">Title:</dt>
        <dd class="officer__dd"><%= @officer.title %></dt>
        <dt class="officer__dt" title="Employee #">Emp #:</dt>
        <dd class="officer__dd"><%= @officer.employee_id %></dt>
        <dt class="officer__dt">Start Date:</dt>
        <dd class="officer__dd"><%= format_date @officer.doa %></dt>
        <dt class="officer__dt">Home:</dt>
        <dd class="officer__dd"><%= format_zip(@officer.postal) %> <%= format_neighborhood(@officer.zip_code) %></dt>
      </dl>
    </div>
    <div class="col-lg-3">
      <ul class="list-unstyled mt-2">
        <li><strong>Table of Contents</strong></li>
        <li><a href="#earnings">Earnings</a></li>
        <li><a href="#incidents">Incident Journal <span class="text-muted"><%= @officer.incidents_count %></span></a></li>
        <li><a href="#details">Paid Details <span class="text-muted"><%= @officer.details_count %></span></a></li>
        <li><a href="#citations">Traffic Citations <span class="text-muted"><%= @officer.citations_count %></span></a></li>
        <li><a href="#field_contacts">Field Contacts <span class="text-muted"><%= @officer.field_contacts_count %></span></a></li>
        <li><a href="#swats">SWAT Reports <span class="text-muted"><%= @officer.swats_count %></span></a></li>
        <li><a href="#complaints">Complaints (IA Cases) <span class="text-muted"><%= @officer.complaints_count %></span></a></li>
        <li><a href="#articles">Articles <span class="text-muted"><%= @officer.articles_officers_count %></span></a></li>
        <li><a href="#source_materials">Source Materials</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 id="earnings">Earnings</h2>
      <p>Details regarding this employee's compensation come from earnings reports published by the City of Boston. <%= link_to "Learn\u00a0more", page_path("help", anchor: "officers") %></p>
      <%= render "shared/charts/compensations", compensations: @officer.compensations %>
      <div class="officer__earnings-table">
        <%= render "shared/tables/compensations", compensations: @officer.compensations %>
      </div>

      <h2 id="incidents" class="mt-5">Incident Journal</h2>
      <p>Incident reports filed by this officer. This information comes from the public journal reports published by the BPD, and most likely does not reflect all incidents this officer responded to. <%= link_to "Learn\u00a0more", page_path("help", anchor: "incidents") %></p>
      <div class="officer__table">
        <%= render "shared/tables/incidents", id: "officer-incidents-table", params: {officer_id: @officer.id}, options: {searching: false, saveState: false} %>
      </div>

      <h2 id="details" class="mt-5">Paid Details</h2>
      <p>Paid details worked by this officer in 2019. <%= link_to "Learn\u00a0more", page_path("help", anchor: "details") %></p>
      <div class="officer__table">
        <%= render "shared/tables/details", id: "officer-details-table", params: {officer_id: @officer.id}, options: {searching: false, saveState: false} %>
      </div>

      <h2 id="citations" class="mt-5">Traffic Citations</h2>
      <p>Traffic citations issued by this officer in 2019. <%= link_to "Learn\u00a0more", page_path("help", anchor: "citations") %></p>
      <div class="officer__table">
        <%= render "shared/tables/citations", id: "officer-citations-table", params: {officer_id: @officer.id}, options: {searching: false, saveState: false} %>
      </div>

      <h2 id="field_contacts" class="mt-5">Field Contacts</h2>
      <p>Field Interrogation and Observation (FIO) reports filed by this officer. <%= link_to "Learn\u00a0more", page_path("help", anchor: "field_contacts") %></p>
      <div class="officer__table">
        <%= render "shared/tables/field_contacts", id: "officer-field-contacts-table", params: {officer_id: @officer.id}, options: {searching: false, saveState: false} %>
      </div>

      <h2 id="swats" class="mt-5">SWAT Reports</h2>
      <p>SWAT operations in which this officer participated. Reports currently cover 2010-2014. Due to transcription errors, this list may be incomplete. <%= link_to "Learn\u00a0more", page_path("help", anchor: "swats") %></p>
      <div class="officer__table">
        <%= render "shared/tables/swats", id: "officer-swats-table", params: {officer_id: @officer.id}, options: {searching: false, saveState: false} %>
      </div>

      <h2 id="complaints" class="mt-5">Complaints (IA Cases) <span class="text-muted">&mdash;</span> IA Score: <%= format_ia_score(@officer.ia_score) %> <sup><a href="<%= page_path('help', anchor: 'ia_score') %>">?</a></h2>
      <p>Complaints filed against this officer either by citizens or as a result of internal investigations. This data reflects the years 2001-2020, but may be incomplete. <%= link_to "Learn\u00a0more", page_path("help", anchor: "complaints") %></p>
      <div class="officer__table">
        <%= render "shared/tables/complaints", id: "officer-complaints-table", params: {officer_id: @officer.id}, options: {searching: false, saveState: false} %>
      </div>

      <h2 id="articles" class="mt-5">Articles</h2>
      <p>Articles referencing this officer. Populated by an automated process, which may not be 100% accurate.</p>
      <div class="officer__table">
        <%= render "shared/tables/articles", id: "officer-articles-table", params: {officer_id: @officer.id}, options: {searching: false, saveState: false} %>
      </div>


      <div class="mt-5">
        <%= render "shared/source_materials", attributions: @attributions %>
      </div>

      <h2 class="mt-5">Additional Source Materials</h2>
      <p>For the incident journal, field contacts, and complaints listed above, the source materials for each record are listed on the page for that record. Click through each record to see from where it was sourced.</p>
    </div>
  </div>
</div>
