<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @officer.name %> <small class="d-none d-md-inline"><%= @officer.title %></small></h1>
      <dl class="row">
        <dt class="officer__dt">Title:</dt>
        <dd class="officer__dd"><%= @officer.title %></dt>
        <dt class="officer__dt" title="Employee #">Emp #:</dt>
        <dd class="officer__dd"><%= @officer.employee_id %></dt>
        <dt class="officer__dt">Start Date:</dt>
        <dd class="officer__dd"><%= format_date @officer.doa %></dt>
        <dt class="officer__dt">Home Zip:</dt>
        <dd class="officer__dd"><%= format_zip(@officer.postal) %></dt>
      </dl>

      <h2>Earnings</h2>
      <p>Details regarding this employee's compensation come from earnings reports published by the City of Boston.</p>
      <%= render "shared/charts/compensations", compensations: @officer.compensations %>
      <div class="officer__earnings-table">
        <%= render "shared/tables/compensations", compensations: @officer.compensations %>
      </div>

      <h2 class="mt-5">Incident Journal</h2>
      <p>Incident reports filed by this officer. This information comes from the public journal reports published by the BPD, and most likely does not reflect all incidents this officer responded to.</p>
      <div class="officer__table">
        <%= render "shared/tables/incidents", params: {officer_id: @officer.id}, options: {} %>
      </div>

      <h2 class="mt-5">Field Contacts</h2>
      <p>Field Interrogation and Observation (FIO) reports filed by this officer.</p>
      <div class="officer__table">
        <%= render "shared/tables/field_contacts", params: {officer_id: @officer.id}, options: {} %>
      </div>

      <h2 class="mt-5">Complaints (IA Cases)</h2>
      <p>Complaints filed against this officer either by citizens or as a result of internal investigations. This data reflects the years 2001-2020, but may be incomplete.</p>
      <div class="officer__table">
        <%= render "shared/tables/complaints", params: {officer_id: @officer.id}, options: {} %>
      </div>

      <div class="mt-5">
        <%= render "shared/source_materials", attributions: @attributions %>
      </div>
    </div>
  </div>
</div>
