<% @layout_application_title = "Incident ##{@incident.incident_number}" %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Incident #<%= @incident.incident_number %></h1>
      <p>This is an incident report filed by an officer of the Boston Police Department. <%= link_to "Learn\u00a0more", page_path("help", anchor: "incidents") %></p>

      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-lg-4">District</dt>
            <dd class="col-lg-8"><%= format_text(@incident.district) %></dd>
            <dt class="col-lg-4">Reporting Area</dt>
            <dd class="col-lg-8"><%= format_text(@incident.reporting_area) %></dd>
            <dt class="col-lg-4">Shooting?</dt>
            <dd class="col-lg-8"><%= format_shooting(@incident.shooting) %></dd>
            <dt class="col-lg-4">Occurred</dt>
            <dd class="col-lg-8"><%= format_date_time(@incident.occurred_on_date) %></dd>
            <dt class="col-lg-4">Reported</dt>
            <dd class="col-lg-8"><%= format_date_time(@incident.report_date) %></dd>
            <dt class="col-lg-4">UCR</dt>
            <dd class="col-lg-8"><%= format_text(@incident.ucr_part) %></dd>
            <dt class="col-lg-4">Street</dt>
            <dd class="col-lg-8"><%= format_text(@incident.street) %></dd>
            <dt class="col-lg-4">Location</dt>
            <dd class="col-lg-8"><%= format_array(@incident.location_of_occurrence) %></dd>
            <dt class="col-lg-4">Nature of Incident</dt>
            <dd class="col-lg-8"><%= format_array(@incident.nature_of_incident) %></dd>
            <dt class="col-lg-4">Lat/Long</dt>
            <dd class="col-lg-8"><%= format_lat_long(@incident.latitude, @incident.longitude) %></dd>
            <dt class="col-lg-4">Officer</dt>
            <dd class="col-lg-8"><%= format_incident_officer(@incident) %></dd>
            <% if !@incident.cases.empty? %>
              <dt class="col-lg-4">Case</dt>
              <dd class="col-lg-8"><%= format_cases(@incident.cases) %></dd>
            <% end %>
          </dl>
        </div>
        <div class="col-md-6">
            <div style="height:350px" id="incident-map" data-controller="map" data-map-latitude="<%= @incident.latitude %>" data-map-longitude="<%= @incident.longitude %>">
              <p class="text-center text-muted font-italic">No latitude/longitude data for this incident</p>
            </div>
            <p class="text-muted font-italic">Map location is sometimes inaccurate; trust the Street &amp; Location fields if there is a discrepancy.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <h2>Offenses</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Code</th>
                <th>Code Group</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% if @incident.offenses.empty? %>
                <td colspan="3" class="empty-table">Offense records not found for this incident.</td>
              <% end %>
              <% @incident.offenses.each do |offense| %>
                <tr>
                  <td><%= format_text(offense.code) %></td>
                  <td><%= format_text(offense.code_group) %></td>
                  <td><%= format_text(offense.description) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col-md">
          <h2>Arrests</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Charge</th>
              </tr>
            </thead>
            <tbody>
              <% if @incident.arrests.empty? %>
                <td colspan="2" class="empty-table">No arrests found for this incident.<br>Arrests may have occurred if our records for this incident are incomplete.</td>
              <% end %>
              <% @incident.arrests.each do |arrest| %>
                <tr>
                  <td><%= format_text(arrest.name) %></td>
                  <td><%= format_text(arrest.charge) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <%= render "shared/source_materials", attributions: @incident.attributions %>
    </div>
  </div>
</div>
