<a class="navbar-brand" href="/">
  <img src="<%= image_url "brand-128.png" %>" width="30" height="30" alt="" loading="lazy" title="Woke Windows">
  <span class="navbar-brand__text">Woke Windows Project</span>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="<%= page_path("about") %>">About </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= page_path("help") %>">Help</a>
    </li>
    <% if signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_article_path %>">Add Article</a>
    </li>
    <% end %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Data Tables
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="<%= complaints_path %>">Complaints (Internal Affairs)</a>
        <a class="dropdown-item" href="<%= field_contacts_path %>">Field Contacts (FIO)</a>
        <a class="dropdown-item" href="<%= cases_path %>">Forfeiture Cases</a>
        <a class="dropdown-item" href="<%= incidents_path %>">Incident Journal</a>
        <a class="dropdown-item" href="<%= officers_path %>">Officers &amp; Employees</a>
        <a class="dropdown-item" href="<%= details_path %>">Paid Details</a>
        <a class="dropdown-item" href="<%= citations_path %>">Traffic Citations</a>
        <a class="dropdown-item" href="<%= swats_path %>">SWAT Reports</a>
      </div>
    </li>
  </ul>
  <a href="https://github.com/nstory/wokewindows">GitHub</a>
  <%# <form class="form-inline my-2 my-lg-0"> %>
  <%#   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> %>
  <%#   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> %>
  <%# </form> %>
</div>
