<table class="officers-table">
  <thead class="">
    <th scope="col">Emp #</th>
    <th scope="col">Name</th>
    <th scope="col">Title</th>
    <th scope="col">Start Date</th>
    <th scope="col">Earnings (2019)</th>
    <th scope="col">Complaints</th>
    <th scope="col">FIOs</th>
    <th scope="col">Inc.</th>
  </thead>
  <tbody>
    <%# <% @officers.each do |officer| %1> %>
    <%#   <tr> %>
    <%#     <td><%= link_to officer.employee_id, '#' %1></td> %>
    <%#     <td><%= link_to officer.name, '#' %1></td> %>
    <%#     <td><%= officer.doa %1></td> %>
    <%#     <td><span class="text-monospace"><%= number_to_currency(officer.total_earnings) %1></span></td> %>
    <%#     <td><%= officer.complaints_count %1></td> %>
    <%#     <td><%= officer.field_contacts_count %1></td> %>
    <%#     <td><%= officer.incidents.size %1></td> %>
    <%#   </tr> %>
    <%# <% end %1> %>
  </tbody>
</table>
