<div class="container">
  <div class="row">
    <div class="col">
      <h1>Field Contact <%= @field_contact.fc_num %></h1>
      <p>This is a Field Interrogation and Observation (FIO) report filed by an officer of the Boston Police Department.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <dl class="row field-contacts-dl">
        <dt>FC #</dt>
        <dd><%= format_text(@field_contact.fc_num) %></dd>
        <dt>Contact Date</dt>
        <dd><%= format_date_time(@field_contact.contact_date) %></dd>

        <dt>Contact Officer</dt>
        <dd><%= format_contact_officer(@field_contact) %></dd>
        <dt>Supervisor</dt>
        <dd><%= format_supervisor(@field_contact) %></dd>

        <dt>Street</dt>
        <dd><%= format_text(@field_contact.street) %></dd>

        <dt>City</dt>
        <dd><%= format_text(@field_contact.city) %></dd>

        <dt>State</dt>
        <dd><%= format_text(@field_contact.state) %></dd>

        <dt>Zip</dt>
        <dd><%= format_zip(@field_contact.zip) %></dd>

        <dt>Frisked / Searched?</dt>
        <dd><%= format_yes_no(@field_contact.frisked_searched) %></dd>

        <dt>Circumstance</dt>
        <dd><%= format_text(@field_contact.circumstance) %></dd>

        <dt>Basis</dt>
        <dd><%= format_text(@field_contact.basis) %></dd>
      </dl>
    </div>
    <div class="col">
      <dl class="row field-contacts-dl">
        <dt>Vehicle Year</dt>
        <dd><%= format_text(@field_contact.vehicle_year) %></dd>

        <dt>Vehicle State</dt>
        <dd><%= format_text(@field_contact.vehicle_state) %></dd>

        <dt>Vehicle Make</dt>
        <dd><%= format_text(@field_contact.vehicle_make) %></dd>

        <dt>Vehicle Model</dt>
        <dd><%= format_text(@field_contact.vehicle_model) %></dd>

        <dt>Vehicle Color</dt>
        <dd><%= format_text(@field_contact.vehicle_color) %></dd>

        <dt>Vehicle Style</dt>
        <dd><%= format_text(@field_contact.vehicle_style) %></dd>

        <dt>Vehicle Type</dt>
        <dd><%= format_text(@field_contact.vehicle_type) %></dd>

        <dt>Key Situations</dt>
        <dd><%= format_array(@field_contact.key_situations) %></dd>

        <dt>Weather</dt>
        <dd><%= format_text(@field_contact.weather) %></dd>

        <dt>Stop Duration</dt>
        <dd><%= format_text(@field_contact.stop_duration) %></dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Narrative</h2>
      <%= format_narrative(@field_contact.narrative) %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Individuals</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-nowrap">
          <thead>
            <tr>
              <th scope="col">Sex</th>
              <th scope="col">Race</th>
              <th scope="col">Age</th>
              <th scope="col">Build</th>
              <th scope="col">Hair Style</th>
              <th scope="col">Skin Tone</th>
              <th scope="col">Ethnicity</th>
              <th scope="col">Other Clothing</th>
              <th scope="col">Deceased</th>
              <th scope="col">License State</th>
              <th scope="col">License Type</th>
              <th scope="col">Searched?</th>
            </tr>
          </thead>
          <tbody>
            <% @field_contact.field_contact_names.each do |fcn| %>
              <tr>
                <td><%= format_text(fcn.sex) %></td>
                <td><%= format_text(fcn.race) %></td>
                <td><%= format_text(fcn.age) %></td>
                <td><%= format_text(fcn.build) %></td>
                <td><%= format_text(fcn.hair_style) %></td>
                <td><%= format_text(fcn.skin_tone) %></td>
                <td><%= format_text(fcn.ethnicity) %></td>
                <td><%= format_text(fcn.other_clothing) %></td>
                <td><%= format_yes_no(fcn.deceased) %></td>
                <td><%= format_text(fcn.license_state) %></td>
                <td><%= format_text(fcn.license_type) %></td>
                <td><%= format_yes_no(fcn.frisked_searched) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
