<% @layout_application_title = "Help and Information" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 js-toc-content">
      <h1>Help and Information</h1>
      <p><i>The Woke Windows Project</i> consists of many data tables and types. This data is pulled from multiple sources.</p>
      <p>When you are viewing any type of record, e.g. an incident report or an employee, there will be a section <i>Source Materials</i>. This section lists the data sources from which this record was derived and provides links to them. You can use these original sources to confirm any information from the Woke Windows Project.</p>
      <p>Do you have questions? Advice? Compliments or critiques? Please reach out to us at <%= contact_us %>. Any and all feedback is welcome.</p>

      <h2 id="data_tables">Data Tables</h2>

      <h3 id="complaints">Complaints (Internal Affairs)</h3>
      <p>Internal Affairs cases include both citizen complaints, where a member of the community files a complaint regarding the conduct of an officer or a civilian employee of the BPD, and internal investigations. We source this data from a number of sources: <a href="#bpd_ia_data_2001_2011">2001 to 2011 IA data</a>, <a href="#allegations_2010_to_2020">2010 to 2020 Allegations</a>, and <a href="#2014_officer_ia_log">2014 Officer IA Log</a>.</p>
      <p>A case is identified by a unique number e.g. <i>IAD2019-0412</i>. An individual case may involve one-or-more employees, each with one-or-more allegations. A finding is made for each allegation against each officer.</p>
      <p>For the vast majority of cases, we only have the general nature of the allegations e.g. <i>Neg.Duty/Unreasonable Judge</i>. For a subset of the cases from 2014, we also have prose summaries (redacted).</p>
      <p>The list of complaints that appears on the officer page (see the <%= link_to "Commissioner Gross", officer_path("9018") %> page for an example of an officer's page) is linked based on matching the name of the officer to that listed in the complaint. We make efforts to not link ambiguous cases where two officers have very similar names (or the exact same name!) but it's possible a mislink could happen. It's wise to look to the original source data to confirm.</p>
      <p>Conversely, the listing of complaints on the officer page may not be comprehensive; there may be cases we failed to link the officer to. To find these, try searching the <%= link_to "complaints table", complaints_path %> for variations of the officer's name.</p>

      <h3 id="field_contacts">Field Contacts (FIO)</h3>
      <p>Field Interrogation and Observation (FIO) reports are how the BPD records the department's stop-and-frisk encounters (and other encouters, many of which do not involve a search).</p>
      <p>Per <a href="https://static1.squarespace.com/static/5086f19ce4b0ad16ff15598d/t/56a2569205caa7ee9f29e6a2/1453479570208/rule323.pdf">Rule 323</a>: "An FIOE Report shall be submitted subsequent to a field interaction/stop, a frisk, an observation, or an encounter".</p>
      <p>We ingest this data from the <a href="#field_contact">FieldContact Table</a> and <a href="#field_contact_name">FieldContact_Name</a> table exports distributed on the <a href="https://data.boston.gov/">Analyze Boston website</a></p>
      <p>These reports are especially interesting because they 1. contain redacted prose narratives of the encounter and 2. contain a breakdown of the race and ethnicity of the individuals involved.</p>
      <p>If the <i>Frisked / Searched?</i> flag is <i>Yes</i>, this indicates that at least one of the stopped persons was searched. Beginning in September 2019, the search flag is also marked for each individual.</p>

      <h3 id="incidents">Incident Journal</h3>
      <p>When an officer responds to a call, carries out a search warrant, or otherwise performs a significant action, they fill out an incident report (sometimes referred to as Form 1.1). The BPD makes available a selection of fields from these reports through two public data sources: <a href="#crime_incident_reports">Crime Incident Reports</a> and <a href="#district_journal">Public Journal</a>. In addition, reports from 2012 - 2015 are available in the <a href="#legacy_crime_incident_reports">Legacy Crime Incident Reports</a>.  We combine these data sources to create the list of incidents on this site.</p>
      <p>We automatically import new incident reports from these data sources on a daily basis.</p>
      <p>It's not clear if all incident reports are included in these public data sources, or if some sensitive categories are being filtered out. In addition, the routinely published information only captures a subset of the fields an officer enters when they submit these reports.</p>
      <p>A full incident report contains information about the people involved and a written narrative of events. Due to privacy concerns, the department will not release a full report without first applying redactions.</p>
      <p>To see the difference between a full report and what's available on this site, contrast the <a href="/downloads/172068118_PkvQylJ.pdf">full (redacted) report</a> for incident #172068118 and <a href="<%= incident_path('172068118') %>">our record</a> for that same incident.</p>

      <h3 id="details">Paid Details</h3>
      <p>A paid detail is when an officer is paid by a private company to direct traffic (e.g. around roadwork by a utility company) or to provide security. These companies put in a request for a police detail with the department, and then officers sign up for these shifts in addition to their regular hours.</p>
      <p>We currently only have records for the year 2019. This data is sourced from <a href="#detail_records">Detail Records 2019</a>.</p>
      <p>The contract between the department and the police unions stipulates that an officer is paid for a minimum of four hours of work, regardless of the number of hours actually worked. This rule among others explains the discrepancy between <i>Hours Worked</i> and <i>Pay Hours</i> you will see when browsing these records.</p>
      <p>For more information regarding department policies for paid details, see <a href="https://bpdnews.com/s/Rule-325.pdf">Rule 325</a> and <a href="https://bpdnews.com/s/Rule-326.pdf">Rule 326</a>.</p>


      <h3 id="officers">Officers &amp; Employees</h3>
      <p>Our goal is to present information regarding every sworn officer of the Boston Police Department. We also include some data on civilian employees of the department, but this is a lower priority. In order to link the data together effectively across multiple data sources, and to ensure we do not have duplicate entries, we only create records for those persons where we have the six-digit City of Boston employee id number.</p>
      <p>We currently harvest the employee id number from two sources: <a href="#alpha_listing">BPD Alpha Listing with Badges</a> and <a href="#district_journal">Public Journal</a>. If a particular employee does not exist in any of these sources, they will not be listed on this site.</p>
      <p>On the page for each employee (see the page for <%= link_to "Commissioner Gross", officer_path("9018") %> as an example) the officer's annual earnings are broken down by category. The data for this report is sourced from the <a href="#employee_earnings">Employee Earnings Reports</a> produced by the City of Boston Office of Human Resources. The HR office supplies <a href="https://data.boston.gov/dataset/employee-earnings-report/resource/609a6014-5ab0-49d9-8c38-1389e7bf0d41">this explanation</a> of the different categories.</p>
      <p>Detail pay deserves special mention. This is pay earned by working paid details under the procedures described in <a href="https://static1.squarespace.com/static/5086f19ce4b0ad16ff15598d/t/52af60cfe4b007c7c2257da2/1387225295091/Rule+325.pdf">Rule 325</a>. The city should be receiving compensation from the private business that requested the detail.</p>
      <p>The zip code where the officer lives is taken from the most recent <a href="#employee_earnings">Employee Earnings Report</a> on which the officer appears. The state and neighborhood fields are calculated based on the zip code. The mapping of zip codes to neighborhoods was taken from the <a href="http://www.bostonplans.org/getattachment/8d4b1dc5-ce11-45b4-9bf5-370444b49b68">Boston Business Patterns 2016</a> report.</p>

      <h3 id="cases">Forfeiture Cases</h3>
      <p>This information is currently imported from a single source: <a href="#da_forfeitures">Forfeitures by Suffolk District Attorney.</a></p>

      <h3 id="swats">SWAT Reports</h3>
      <p>We have redacted SWAT incident reports covering 2010 - 2014 from <a href="#swat">17F SWAT After-Action Reports</a>. These reports were provided as several-hundred page PDF documents, each spanning an entire year. We've broken each incident out into an individual file, and we've run <a href="https://github.com/jbarlow83/OCRmyPDF">OCRmyPDF</a> on those individual files.</p>
      <p>We automatically discover the officers involved in each action based on their names and employee ids. Because the OCR process is not 100% reliable, there may be errors and/or omissions in the fields we parse out.</p>

      <h2 id="data_sources">Data Sources</h2>
      <h3 id="alpha_listing">BPD Alpha Listing with Badges</h3>
      <p><a href="https://www.muckrock.com/foi/boston-3/boston-police-department-personnel-roster-20433/">https://www.muckrock.com/foi/boston-3/boston-police-department-personnel-roster-20433/</a></p>
      <p>This is a listing of Boston Police officers from July 2016. Civilian employees are not included on this list.</p>
      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IDNO6</td>
            <td>Six digit City of Boston employee id</td>
          </tr>
          <tr>
            <td>NAME</td>
            <td>Employee name in the same format as earnings reports</td>
          </tr>
          <tr>
            <td>RANK</td>
            <td>Capt, Lieut, etc.</td>
          </tr>
          <tr>
            <td>BADGE</td>
            <td></td>
          </tr>
          <tr>
            <td>DOA</td>
            <td>Appears to be the employee's start date (only source I've seen with this data)</td>
          </tr>
          <tr>
            <td>TITLE</td>
            <td>Same values as the <i>TITLE</i> field in the <a href="#employee_earnings">Employee Earnings Reports</a></td>
          </tr>
          <tr>
            <td>orgname</td>
            <td>Organization within the BPD (only source I've seen with this data)</td>
          </tr>
          <tr>
            <td>STATUS</td>
            <td>A or P &mdash; I'm unclear what this means</td>
          </tr>
        </tbody>
      </table>

      <h3 id="cy2015_annual_earnings">BPD CY2015 Annual Earnings File</h3>
      <p><a href="https://www.muckrock.com/foi/boston-3/boston-police-department-overtime-pay-2015-25166/">https://www.muckrock.com/foi/boston-3/boston-police-department-overtime-pay-2015-25166/</a></p>
      <p>This report for the year 2015 includes all BPD employees, including civilian employees. It contains many fields that also appear in the <a href="#employee_earnings">Employee Earnings Reports</a>, and are explained in the documentation for those reports. In addition, it contains the following fields:</p>
      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>EMPL ID</td>
            <td>Six digit City of Boston employee id</td>
          </tr>
          <tr>
            <td>DEPTID</td>
            <td>Always 211000</td>
          </tr>
          <tr>
            <td>EMPL RCD</td>
            <td>This seems to be a common field in PeopleSoft systems &mdash; I'm unsure as to its meaning</td>
          </tr>
        </tbody>
      </table>

      <h3 id="employee_earnings">Employee Earnings Report</h3>
      <p><a href="https://data.boston.gov/dataset/employee-earnings-report">https://data.boston.gov/dataset/employee-earnings-report</a></p>
      <p>The City of Boston's Office of Human Resources publishes an annual report showing how much the city paid each employee.</p>
      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>NAME</td>
            <td></td>
          </tr>
          <tr>
            <td>DEPARTMENT_NAME</td>
            <td></td>
          </tr>
          <tr>
            <td>TITLE</td>
            <td></td>
          </tr>
          <tr>
            <td>REGULAR</td>
            <td></td>
          </tr>
          <tr>
            <td>RETRO</td>
            <td></td>
          </tr>
          <tr>
            <td>OTHER</td>
            <td>per <a href="https://www.muckrock.com/foi/boston-3/bpd-complete-payroll-for-top-earners-6979/">this exchange on MuckRock</a>: "The amount in this column is a sum of annual vacation/sick time/personal leave buy back amounts, uniform allowance, (currently $800.00), and if applicable, settlements and grievance amounts"</td>
          </tr>
          <tr>
            <td>OVERTIME</td>
            <td></td>
          </tr>
          <tr>
            <td>INJURED</td>
            <td></td>
          </tr>
          <tr>
            <td>DETAIL</td>
            <td>from working paid details see <a href="https://static1.squarespace.com/static/5086f19ce4b0ad16ff15598d/t/52af60cfe4b007c7c2257da2/1387225295091/Rule+325.pdf">Rule 325</a></td>
          </tr>
          <tr>
            <td>QUINN/EDUCATION INCENTIVE</td>
            <td>see <a href="https://www.mass.edu/osfa/initiatives/pcipp.asp">Police Career Incentive Pay Program</a> (PCIPP)</td>
          </tr>
          <tr>
            <td>TOTAL EARNINGS</td>
            <td></td>
          </tr>
          <tr>
            <td>POSTAL</td>
            <td>five digit zip code</td>
          </tr>
        </tbody>
      </table>

      <h3 id="crime_incident_reports">Crime Incident Reports</h3>
      <p><a href="https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system">https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system</a></p>
      <p>On a daily basis, the Boston Police Department posts a file to the City of Boston's Open Data Hub containing a subset of the fields present in the department's crime incident report system.</p>
      <p>If you are using this data directly for analysis, you should note that a given incident number may appear multiple times in the file. This seems to occur when multiple offenses are associated with the one incident number.</p>
      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>INCIDENT_NUMBER</td>
            <td></td>
          </tr>
          <tr>
            <td>OFFENSE_CODE</td>
            <td>a key is provided for these on the data.boston.gov site</td>
          </tr>
          <tr>
            <td>OFFENSE_CODE_GROUP</td>
            <td></td>
          </tr>
          <tr>
            <td>OFFENSE_DESCRIPTION</td>
            <td></td>
          </tr>
          <tr>
            <td>DISTRICT</td>
            <td>one of the <a href="https://bpdnews.com/districts">BPD Districts</a> e.g. <i>E13</i></td>
          </tr>
          <tr>
            <td>REPORTING_AREA</td>
            <td></td>
          </tr>
          <tr>
            <td>SHOOTING</td>
            <td></td>
          </tr>
          <tr>
            <td>OCCURRED_ON_DATE</td>
            <td></td>
          </tr>
          <tr>
            <td>YEAR</td>
            <td></td>
          </tr>
          <tr>
            <td>MONTH</td>
            <td></td>
          </tr>
          <tr>
            <td>DAY_OF_WEEK</td>
            <td></td>
          </tr>
          <tr>
            <td>HOUR</td>
            <td></td>
          </tr>
          <tr>
            <td>UCR_PART</td>
            <td></td>
          </tr>
          <tr>
            <td>STREET</td>
            <td></td>
          </tr>
          <tr>
            <td>Lat</td>
            <td></td>
          </tr>
          <tr>
            <td>Long</td>
            <td></td>
          </tr>
          <tr>
            <td>Location</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 id="legacy_crime_incident_reports">Legacy Crime Incident Reports</h3>
      <a href="https://data.boston.gov/dataset/crime-incident-reports-july-2012-august-2015-source-legacy-system">https://data.boston.gov/dataset/crime-incident-reports-july-2012-august-2015-source-legacy-system</a>
      <p>Similar to the <a href="#crime_incident_reports">Crime Incident Reports</a> but for the period July 2012 - August 2015. See the <i>Crime Incident Field Explanation</i> document at the above link for details.</p>

      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>COMPNOS</td>
            <td>we're importing this as the Incident Number</td>
          </tr>
          <tr>
            <td>NatureCode</td>
            <td></td>
          </tr>
          <tr>
            <td>INCIDENT_TYPE_DESCRIPTION</td>
            <td></td>
          </tr>
          <tr>
            <td>MAIN_CRIMECODE</td>
            <td></td>
          </tr>
          <tr>
            <td>REPTDISTRICT</td>
            <td></td>
          </tr>
          <tr>
            <td>REPORTINGAREA</td>
            <td></td>
          </tr>
          <tr>
            <td>FROMDATE</td>
            <td></td>
          </tr>
          <tr>
            <td>WEAPONTYPE</td>
            <td></td>
          </tr>
          <tr>
            <td>Shooting</td>
            <td></td>
          </tr>
          <tr>
            <td>DOMESTIC</td>
            <td></td>
          </tr>
          <tr>
            <td>SHIFT</td>
            <td></td>
          </tr>
          <tr>
            <td>Year</td>
            <td></td>
          </tr>
          <tr>
            <td>Month</td>
            <td></td>
          </tr>
          <tr>
            <td>DAY_WEEK</td>
            <td></td>
          </tr>
          <tr>
            <td>UCRPART</td>
            <td></td>
          </tr>
          <tr>
            <td>X</td>
            <td></td>
          </tr>
          <tr>
            <td>Y</td>
            <td></td>
          </tr>
          <tr>
            <td>STREETNAME</td>
            <td></td>
          </tr>
          <tr>
            <td>XSTREETNAME</td>
            <td></td>
          </tr>
          <tr>
            <td>Location</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 id="district_journal">Public Journal</h3>
      <p>On an almost daily basis, The Boston Police Department posts a public journal of the incident reports filed by officers on <a href="https://bpdnews.com/">bpdnews.com</a></p>
      <p>This data is similar to and overlaps with that provided by the <a href="#crime_incident_reports">Crime Incident Reports</a>. However, the journals provide some additional information: the officer who responded, and any arrests that were made.</p>
      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Report Date &amp; Time</td>
            <td></td>
          </tr>
          <tr>
            <td>Complaint #</td>
            <td>this can be joined with the <code>INCIDENT_NUMBER</code> field from the <a href="#crime_incident_reports">Crime Incident Reports</a>; the number may be prefixed with the letter <i>I</i> or have a trailing <i>-00</i> I remove these leaving just a nine-digit number</td>
          </tr>
          <tr>
            <td>Occurrence Date &amp; Time</td>
            <td></td>
          </tr>
          <tr>
            <td>Officer</td>
            <td>the employee id of a police officer and name; I believe this is the "Reporting Officer" &mdash; sometimes the employee id and the officer name are mismatched, possibly due to human errors in transcription</td>
          </tr>
          <tr>
            <td>Location of Occurrence</td>
            <td>this is similar to the <code>STREET</code> field in the <a href="#crime_incident_reports">Crime Incident Reports</a>, but is sometimes more specific</td>
          </tr>
          <tr>
            <td>Nature of Incident</td>
            <td></td>
          </tr>
          <tr>
            <td>Arrests</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 id="field_contact">FIO Records FieldContact Table</h3>
      <p><a href="https://data.boston.gov/dataset/boston-police-department-fio">https://data.boston.gov/dataset/boston-police-department-fio</a></p>
      <p>These fields are from the Mark43 file, which applies to records from Sep 29, 2019 onwards.</p>

      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>fc_num</td>
            <td></td>
          </tr>
          <tr>
            <td>contact_date</td>
            <td></td>
          </tr>
          <tr>
            <td>contact_officer</td>
            <td></td>
          </tr>
          <tr>
            <td>contact_officer_name</td>
            <td></td>
          </tr>
          <tr>
            <td>supervisor</td>
            <td></td>
          </tr>
          <tr>
            <td>supervisor_name</td>
            <td></td>
          </tr>
          <tr>
            <td>street</td>
            <td></td>
          </tr>
          <tr>
            <td>city</td>
            <td></td>
          </tr>
          <tr>
            <td>state</td>
            <td></td>
          </tr>
          <tr>
            <td>zip</td>
            <td></td>
          </tr>
          <tr>
            <td>stop_duration</td>
            <td></td>
          </tr>
          <tr>
            <td>circumstance</td>
            <td>one of <i>Encountered</i>, <i>Stopped</i>, <i>Observed</i></td>
          </tr>
          <tr>
            <td>basis</td>
            <td>one of <i>Probable Cause</i>, <i>Reasonable Suspicion</i>, <i>Encounter</i>, <i>Intel</i></td>
          </tr>
          <tr>
            <td>vehicle_year</td>
            <td></td>
          </tr>
          <tr>
            <td>vehicle_state</td>
            <td></td>
          </tr>
          <tr>
            <td>vehicle_model</td>
            <td></td>
          </tr>
          <tr>
            <td>vehicle_color</td>
            <td></td>
          </tr>
          <tr>
            <td>vehicle_style</td>
            <td></td>
          </tr>
          <tr>
            <td>vehicle_type</td>
            <td></td>
          </tr>
          <tr>
            <td>key_situations</td>
            <td></td>
          </tr>
          <tr>
            <td>narrative</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 id="field_contact_name">FIO Records FieldContact_Name Table</h3>
      <p><a href="https://data.boston.gov/dataset/boston-police-department-fio">https://data.boston.gov/dataset/boston-police-department-fio</a></p>

      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>fc_num</td>
            <td></td>
          </tr>
          <tr>
            <td>contact_date</td>
            <td></td>
          </tr>
          <tr>
            <td>sex</td>
            <td></td>
          </tr>
          <tr>
            <td>race</td>
            <td></td>
          </tr>
          <tr>
            <td>age</td>
            <td></td>
          </tr>
          <tr>
            <td>build</td>
            <td></td>
          </tr>
          <tr>
            <td>hair_style</td>
            <td></td>
          </tr>
          <tr>
            <td>skin_tone</td>
            <td></td>
          </tr>
          <tr>
            <td>ethnicity</td>
            <td></td>
          </tr>
          <tr>
            <td>otherclothing</td>
            <td></td>
          </tr>
          <tr>
            <td>deceased</td>
            <td></td>
          </tr>
          <tr>
            <td>license_state</td>
            <td></td>
          </tr>
          <tr>
            <td>license_type</td>
            <td></td>
          </tr>
          <tr>
            <td>frisk/search</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 id="allegations_2010_to_2020">2010 to 2020 Allegations</h3>
      <a href="https://twitter.com/wutrain/status/1275784386110242817">https://twitter.com/wutrain/status/1275784386110242817</a>
      <p>This spreadsheet was released as part of a dataset requested by the city council under Section 17F of the <a href="https://en.wikipedia.org/wiki/Boston_City_Charter">Boston City Charter</a>. See the directory <i>17F Request #9</i> in the Google Drive linked to from that tweet.</p>

      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IA No</td>
            <td>A particular number may appear multiple times in the spreadsheet, once for each allegation against a particular officer</td>
          </tr>
          <tr>
            <td>Incident type</td>
            <td>Either <i>Citizen complaint</i> or <i>Internal investigation</i></td>
          </tr>
          <tr>
            <td>Received date</td>
            <td></td>
          </tr>
          <tr>
            <td>Title/rank (snap)</td>
            <td></td>
          </tr>
          <tr>
            <td>First name</td>
            <td></td>
          </tr>
          <tr>
            <td>Last name</td>
            <td></td>
          </tr>
          <tr>
            <td>Allegation</td>
            <td></td>
          </tr>
          <tr>
            <td>Disposition</td>
            <td>e.g. <i>Sustained</i> or <i>Exonerated</i></td>
          </tr>
          <tr>
            <td>Completed date</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 id="bpd_ia_data_2001_2011">2001 to 2011 IA Data</h3>
      <a href="http://vault.blackstonian.org/">http://vault.blackstonian.org/</a>
      <p>This is a PDF document showing Internal Affairs cases over a ten year period. It is formatted in a manner which makes the document almost impossible to use as is; the values for each row are split across three pages. To get the complete first row, for example, you need to combine the data on pages 1, 168, and 335.</p>
      <p>We've already done the work to create a file combining each row onto a single line. You can download that file here: <a href="/downloads/bpd_ia_data_2001_2011.zip">bpd_ia_data_2001_2011.zip</a></p>

      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IA No</td>
            <td></td>
          </tr>
          <tr>
            <td>Case No</td>
            <td></td>
          </tr>
          <tr>
            <td>Incident type</td>
            <td>
              <i>Internal investigation</i><br>
              <i>Citizen complaint</i><br>
              <i>Inquiry</i><br>
              <i>Preliminary Investigation</i><br>
              <i>General Inquiry</i>
            </td>
          </tr>
          <tr>
            <td>Received date</td>
            <td></td>
          </tr>
          <tr>
            <td>First name</td>
            <td></td>
          </tr>
          <tr>
            <td>Last name</td>
            <td></td>
          </tr>
          <tr>
            <td>Title</td>
            <td></td>
          </tr>
          <tr>
            <td>Badge/ID number</td>
            <td>this is <i>not</i> the six-digit employee id number. It sometimes matches the <code>badge</code> field in the <a href="#alpha_listing">BPD Alpha Listing with Badges</a> file, but it seems like badge numbers are sometimes re-assigned, and, so, are not a useful identifier.</td>
          </tr>
          <tr>
            <td>Allegation</td>
            <td></td>
          </tr>
          <tr>
            <td>Finding</td>
            <td>e.g. <i>Sustained</i> or <i>Exonerated</i></td>
          </tr>
          <tr>
            <td>Finding date</td>
            <td></td>
          </tr>
          <tr>
            <td>Action taken</td>
            <td>always blank</td>
          </tr>
        </tbody>
      </table>

      <h3 id="2014_officer_ia_log">2014 Officer IA Log</h3>
      <a href="https://www.muckrock.com/foi/boston-3/police-officer-performance-survey-boston-police-department-22240/">https://www.muckrock.com/foi/boston-3/police-officer-performance-survey-boston-police-department-22240/</a>
      <p>This document does not list which allegations apply to which officer. It does provide a summary of each case, which the other data sources do not provide.</p>
      <table class="table help__definitions">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IA No</td>
            <td></td>
          </tr>
          <tr>
            <td>Date Received</td>
            <td></td>
          </tr>
          <tr>
            <td>Date Occurred</td>
            <td></td>
          </tr>
          <tr>
            <td>Involved Officer(s)</td>
            <td></td>
          </tr>
          <tr>
            <td>Allegation(s)/Force Type(s)</td>
            <td></td>
          </tr>
          <tr>
            <td>Summary</td>
            <td></td>
          </tr>
          <tr>
            <td>Incident type</td>
            <td></td>
          </tr>
          <tr>
            <td>Completed Date</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 id="da_forfeitures">Forfeitures by Suffolk District Attorney</h3>
      <p>
        <a href="https://www.muckrock.com/foi/suffolk-county-11/suffolk-county-seized-asset-logbook-13587/files/">https://www.muckrock.com/foi/suffolk-county-11/suffolk-county-seized-asset-logbook-13587/files/</a><br>
        <a href="https://data.aclum.org/public-records/asset-forfeiture-by-suffolk-county-district-attorney/">https://data.aclum.org/public-records/asset-forfeiture-by-suffolk-county-district-attorney/</a>
      </p>
      <p>These PDFs contain tables listing assets seized by the Suffolk County District Attorney under <a href="https://malegislature.gov/Laws/GeneralLaws/PartI/TitleXV/Chapter94C/Section47">Mass. Gen. L. c. 94C, ยง 47</a>.</p>
      <p>We currently import the following files:</p>
      <ul class="list-unstyled">
        <li>2012 Superior Court Over $1,000_Redacted.pdf</li>
        <li>2013 Superior Court Over $1,000_Redacted.pdf</li>
        <li>2014 Superior Court Over $1,000_Redacted.pdf</li>
        <li>2015 Superior Court Over $1,000_Redacted.pdf</li>
        <li>DC_Dorchester_Redacted.pdf</li>
        <li>DC_Roxbury_Redacted.pdf</li>
        <li>DC_Boston_Municipal_Court_Redacted.pdf</li>
        <li>DC_West_Roxbury_Redacted.pdf</li>
        <li>DC_East_Boston_Redacted.pdf</li>
        <li>DC_Brighton_Redacted.pdf</li>
        <li>DC_Charlestown_Redacted.pdf</li>
      </ul>
      <p>The DC_ files are for each of the <a href="https://www.mass.gov/orgs/boston-municipal-court">Boston Municipal Courts</a>, and seem to cover the years 2001 through part of 2015.</p>
      <p>We only import the <code>SUCV#</code>, <code>AMT.</code>, <code>M/V</code>, <code>police report #</code>, and <code>Seizure Date</code> fields. To see other fields, you must refer to the original source documents.</p>
      <p>We are not currently importing the 2010 and 2011 Superior Court files because some of the tables in these files need to be OCR'd.</p>
      <p>We only import records where there is a docket number for the case, this means we are not importing nearly half of the records in these files.</p>
      <p>We convert the docket numbers to the new formats described on <a href="https://www.mass.gov/search-court-dockets-calendars-and-case-information">this page</a> under the <i>Case numbering formats</i> heading.</p>

      <h3 id="swat">17F SWAT After-Action Reports</h3>
      <a href="https://twitter.com/wutrain/status/1275784386110242817">https://twitter.com/wutrain/status/1275784386110242817</a>
      <p>Five PDF documents covering the years 2010 - 2015 contain after-action reports. These were released as part of the same 17F request as <a href="#allegations_2010_to_2020">2010 to 2020 Allegations</a>.</p>
      <p>These are scans of printed reports, and even include some hand-written information.</p>

      <h3 id="detail_records">Detail Records 2019</h3>
      <a href="https://www.muckrock.com/foi/boston-3/2019-paid-detail-cards-95919/">https://www.muckrock.com/foi/boston-3/2019-paid-detail-cards-95919/</a>
      <p>Spreadsheet of paid details worked by BPD officers in the year 2019.</p>

      <h2 id="potential_data_sources">Potential Data Sources</h2>
      <p>
        <a href="https://www.muckrock.com/foi/massachusetts-1/2019-motor-vehicle-violation-citations-95815/">2019 Motor Vehicle Violation Citations</a>
      </p>
      <p>
        <a href="https://www.muckrock.com/foi/massachusetts-1/police-career-incentive-pay-program-applications-95899/">Police Career Incentive Pay Program Applications</a>
      </p>
      <h3 id="fio_records_2011_2015">FIO Records 2011 - 2015 (Old RMS)</h3>
      <a href="https://data.boston.gov/dataset/boston-police-department-fio">https://data.boston.gov/dataset/boston-police-department-fio</a>
      <p>
        FIO records from Jan 2011 through June 2015 came from a different system and have a different format. There isn't a separate FieldContact and FieldContact_Name table in this data source.
      </p>


      <h2 id="links">Links and Resources</h2>
      <p>
        <a href="https://bpdnews.com/rules-and-procedures">https://bpdnews.com/rules-and-procedures</a>
      </p>
      <p>
        <a href="https://data.aclum.org/">Data for Justice Project</a>
      </p>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <div class="toc" style="position:sticky;top:12px"></div>
    </div>
  </div>
</div>
