<% @layout_application_title = "Pax Centurion" %>
<% @layout_application_description = "All issues of Pax Centurion, the official newsletter of the Boston Police Patrolmen's Association (BPPA)" %>

<style>
  .table-pax-centurion tbody img {
    max-height: 200px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Pax Centurion</h1>
      <p class="lead">All issues of Pax Centurion, the official newsletter of the Boston Police Patrolmen's Association (BPPA)</p>

      <h2>What is this?</h2>
      <p>Pax Centurion is the official newsletter of the largest Boston Police union, the Boston Police Patrolmen's Association (BPPA). Newer issues are available <a href="https://bppa.org/pax-centurion/">directly from the BPPA</a>. The newsletter has come under scrutiny in the past, see <a href="https://web.archive.org/web/20170502141931/http://thephoenix.com/Boston/news/140923-shit-boston-cops-say/">Boston Phoenix. (2012). <i>Shit Boston Cops Say</i></a>.</p>

      <p>After the above-referenced Boston Phoenix article was published, back issues of Pax Centurion were removed from the BPPA's website. The Boston Phoenix then <a href="https://web.archive.org/web/20170510051857/http://thephoenix.com/Boston/news/141002-archives-of-pax-centurion">made those issues available on <i>their</i> website</a>. However, the website of the Phoenix is no longer operational (the Boston Phoenix closed shop in 2013), and the service they used to host the files does not allow for them to be downloaded.</p>

      <p>This page offers issues of Pax Centurion going back to 2006, both the removed issues and the newest ones published by the BPPA. Also, if you <a href="/officers">look up an officer</a>, any issue of Pax Centurion where the officer is mentioned will be listed under the Articles section of the officer's page.</p>

      <h2>Issues of Pax Centurion</h2>

      <div class="row">
        <%= render "pax_centurion_issue", filename: "pax-centurion-january-february-2006.pdf", issue: "January February 2006" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-march-april-2006.pdf", issue: "March April 2006" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-may-june-2006.pdf", issue: "May June 2006" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-january-february-2007.pdf", issue: "January February 2007" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-march-april-2007.pdf", issue: "March April 2007" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-may-june-2007.pdf", issue: "May June 2007" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-july-august-2007.pdf", issue: "July August 2007" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-september-october-2007.pdf", issue: "September October 2007" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-november-december-2007.pdf", issue: "November December 2007" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-january-february-2008.pdf", issue: "January February 2008" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-march-april-2008.pdf", issue: "March April 2008" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-may-june-2008.pdf", issue: "May June 2008" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2008_september.pdf", issue: "September 2008" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-september-october-2008.pdf", issue: "September October 2008" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-november-december-2008.pdf", issue: "November December 2008" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-january-february-2009.pdf", issue: "January February 2009" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-march-april-2009.pdf", issue: "March April 2009" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-may-june-2009.pdf", issue: "May June 2009" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-july-august-2009.pdf", issue: "July August 2009" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-september-october-2009.pdf", issue: "September October 2009" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-november-december-2009.pdf", issue: "November December 2009" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-january-february-2010.pdf", issue: "January February 2010" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-march-april-2010.pdf", issue: "March April 2010" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-summer-2010.pdf", issue: "Summer 2010" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-september-october-2010.pdf", issue: "September October 2010" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-election-2010.pdf", issue: "Election 2010" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-november-december-2010.pdf", issue: "November December 2010" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-january-february-2011.pdf", issue: "January February 2011" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-march-april-2011.pdf", issue: "March April 2011" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-may-june-2011.pdf", issue: "May June 2011" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-november-december-2011.pdf", issue: "November December 2011" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-march-april-2012.pdf", issue: "March April 2012" %>
        <%= render "pax_centurion_issue", filename: "pax-centurion-may-june-2012.pdf", issue: "May June 2012" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2013_january.pdf", issue: "January 2013" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2013_march.pdf", issue: "March 2013" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2013_special.pdf", issue: "Special 2013" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2013_may.pdf", issue: "May 2013" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2013_september.pdf", issue: "September 2013" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2013_november.pdf", issue: "November 2013" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2014_january.pdf", issue: "January 2014" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2014_march.pdf", issue: "March 2014" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2014_summer.pdf", issue: "Summer 2014" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2014_september.pdf", issue: "September 2014" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2014_november.pdf", issue: "November 2014" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2015_january.pdf", issue: "January 2015" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2015_march.pdf", issue: "March 2015" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2015_june.pdf", issue: "June 2015" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2015_september.pdf", issue: "September 2015" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2015_november.pdf", issue: "November 2015" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2016_january.pdf", issue: "January 2016" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2016_april.pdf", issue: "April 2016" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2016_fall.pdf", issue: "Fall 2016" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2016_winter.pdf", issue: "Winter 2016" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2017_summer.pdf", issue: "Summer 2017" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2017_fall.pdf", issue: "Fall 2017" %>
        <%= render "pax_centurion_issue", filename: "pax_centurion_2019_spring.pdf", issue: "Spring 2019" %>
      </div>
    </div>
  </div>
</div>
