<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= render "shared/navbar_content" %>
  </div>
</nav>

<% if !flash.empty? %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="alert alert-primary mt-3" role="alert">
              <%= value %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <a href="<%= page_path('about') %>">About</a>
        <span class="text-muted">|</span>
        <a href="<%= page_path('help') %>">Help</a>
        <span class="text-muted">|</span>
        <a href="<%= data_sources_path %>">Data Sources</a>
        <span class="text-muted">|</span>
        <a href="<%= exports_path %>">Data Exports</a>
        <span class="text-muted">|</span>
        <a href="https://github.com/nstory/wokewindows">Contribute on GitHub</a>
        <span class="text-muted">|</span>
        <a href="https://blog.wokewindows.org/">Blog</a>
        <span class="text-muted">|</span>
        <%= contact_us "Contact Us" %>
        <% if signed_in? %>
          <br>
          Signed in as: <%= current_user.email %>
          <br>
          <%= link_to 'Sign out', sign_out_path, method: :delete %>
        <% else %>
          <span class="text-muted">|</span>
          <%= link_to 'Sign in', sign_in_path %>
        <% end %>

      </div>
      <div class="col-md-6">
        &ldquo;Sunlight is said to be the best of disinfectants; electric light the most efficient policeman.&rdquo;<br><span class="text-muted">&mdash; Louis Brandeis</span>
      </div>
    </div>
  </div>
</div>
