<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-5 mb-5">
        <h1>The Woke Windows Project</h1>
        <p class="lead">Providing a view into the Boston Police Department (BPD)</p>
        <p>We've collected information and records from a <a href="<%= page_path('help', anchor: 'data_sources') %>">variety of data sources</a> and created a database you can sort, search, and download. Select one of the tables below to get started:</p>
      </div>


      <div class="row">
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'police-15.svg', link: officers_path do %>
            <h5 class="card-title"><a href="<%= officers_path %>">Officers &amp; Employees</a></h5>
            <p class="card-text">Police officers and civilian employees who work at the BPD. See their annual earnings, the number of internal affairs cases opened against them, and more.</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'incident.png', link: incidents_path do %>
            <h5 class="card-title"><a href="<%= incidents_path %>">Incident Reports</a></h5>
            <p class="card-text">Incident reports filed by police officers, including the nature of the incident and the location where it happened.</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'fio_form.png', link: field_contacts_path do %>
            <h5 class="card-title"><a href="<%= field_contacts_path %>">Field Contacts (FIO)</a></h5>
            <p class="card-text">Field Interrogation and Observation reports filed by Boston police officers; includes prose summaries (redacted).</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'complaint_form.png', link: complaints_path do %>
            <h5 class="card-title"><a href="<%= complaints_path %>">Internal Affairs</a></h5>
            <p class="card-text">Internal investigations and citizen complaints that have been lodged against Boston Police Department officers and employees.</p>
          <% end %>
        </div>
      </div>

      <p>Not sure where to get started? The <a href="<%= officers_path %>">Officers &amp; Employees Table</a> is sorted by total earnings for the year 2019, and provides links from each officer to their associated incident reports, complaints, etc.</p>
    </div>
  </div>
</div>

