<% @layout_application_description = "Providing a view into the Boston Police Department (BPD) through public records." %>
<% @layout_application_canonical = root_url %>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-5 mb-5">
        <h1>The Woke Windows Project</h1>
        <p class="lead">Providing a view into the Boston Police Department (BPD)</p>
        <p>We've collected over one million records from a <a href="/data_sources">variety of data sources</a> and created a database you can sort, search, and download.</p>
      </div>


      <div class="text-center mb-5">
        <h2>Need to Look Up an Officer?</h2>
        <p class="lead">Find a BPD officer and see their earnings, policing activity, misconduct cases, and press coverage</p>
        <a href="<%= officers_path %>" class="btn btn-info btn-lg">Look up an Employee</a>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-5">
          <h3><a href="/exports">Data Exports</a></h3>
          <p>Are you a data scientist, a data journalist, or just curious? Try our <a href="/exports">Data Exports</a>! These are CSV files containing cleaned and joined data, ready to be analyzed using your favorite tools.</p>
        </div>

        <div class="col-sm-6 mb-5">
          <h3><a href="/data_sources">Data Sources</a></h3>
          <p>Do you want to see where all these records come from? Do you need to verify against original sources? We've thoroughly documented our <a href="/data_sources">sources of data</a>.</p>
        </div>
        <div class="col-12">
          <h2>Data Tables</h2>
          <p>Search, filter, sort and explore our datasets.</p>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'police-15.svg', link: officers_path do %>
            <h5 class="card-title"><a href="<%= officers_path %>">Officers &amp; Employees</a></h5>
            <p class="card-text">Police officers and civilian employees who work at the BPD. See their annual earnings, the number of internal affairs cases opened against them, and more.</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'incident.png', link: incidents_path do %>
            <h5 class="card-title"><a href="<%= incidents_path %>">Incident Reports</a></h5>
            <p class="card-text">Incident reports filed by police officers, including the nature of the incident and the location where it happened.</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'fio_form.png', link: field_contacts_path do %>
            <h5 class="card-title"><a href="<%= field_contacts_path %>">Field Contacts (FIO)</a></h5>
            <p class="card-text">Field Interrogation and Observation reports filed by Boston police officers; includes prose summaries (redacted).</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'complaint_form.png', link: complaints_path do %>
            <h5 class="card-title"><a href="<%= complaints_path %>">Internal Affairs</a></h5>
            <p class="card-text">Internal investigations and citizen complaints that have been lodged against Boston Police Department officers and employees.</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'money-bag.svg', link: cases_path do %>
            <h5 class="card-title"><a href="<%= cases_path %>">Forfeiture Cases</a></h5>
            <p class="card-text">Assets taken by the BPD and the Suffolk County District Attorney's office.</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'swat.png', link: swats_path do %>
            <h5 class="card-title"><a href="<%= swats_path %>">SWAT Reports</a></h5>
            <p class="card-text">Reports from incidents where the BPD Special Operations Division was deployed.</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'traffic-control.svg', link: details_path do %>
            <h5 class="card-title"><a href="<%= details_path %>">Paid Details</a></h5>
            <p class="card-text">Paid details (e.g. directing traffic) worked by BPD officers for private companies.</p>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= render "shared/root_card", image: 'citation.png', link: citations_path do %>
            <h5 class="card-title"><a href="<%= citations_path %>">Traffic Citations</a></h5>
            <p class="card-text">Motor vehicle citations written by BPD officers.</p>
          <% end %>
        </div>
      </div>

      <p>Not sure where to get started? The <a href="<%= officers_path %>">Officers &amp; Employees Table</a> is sorted by total earnings for the year 2019, and provides links from each officer to their associated incident reports, complaints, etc.</p>
    </div>
  </div>
</div>

