<% org_title = format_titleize @organization %>
<% num_members = @officers.length %>
<% @layout_application_title = "#{org_title} (BPD)" %>
<% @layout_application_description = "#{org_title} is an organization in the Boston Police Department with #{num_members} past or present members." %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= org_title %></h1>
      <p>This is an organization in the Boston Police Department. <%= link_to "Learn\u00a0more", page_path("help", anchor: "organizations") %></p>
      <p>It has <%= num_members %> past or present <%= "member".pluralize(num_members) %>.</p>
      <h3>Officers and employees in this organization</h3>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Emp. #</th>
              <th>Badge</th>
              <th>Name</th>
              <th>Title</th>
              <th title="Internal Affairs Score">IA<sup><%= link_to "?", help_path("internal_affairs", anchor: "ia_score") %></sup></th>
              <th class="text-nowrap">Earnings (2019)</th>
            </tr>
          </thead>
          <tbody>
            <% @officers.each do |officer| %>
              <tr>
                <td>
                  <a href="<%= officer_url(officer) %>">
                    <%= officer.employee_id %>
                  </a>
                </td>
                <td><%= officer.badge %></td>
                <td>
                  <a href="<%= officer_url(officer) %>">
                    <%= officer.name %>
                  </a>
                </td>
                <td><%= officer.title %></td>
                <td>
                  <div class="text-center">
                    <a class="officer__ia-score-<%= officer.ia_score %>" href="<%= officer_url(officer) %>#complaints">
                      <%= officer.ia_score %>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="earnings">
                    <span class="earnings__dollars"><%= format_currency officer.total %></span>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>