<% @layout_application_title = "Data Exports" %>
<% @layout_application_canonical = exports_url %>
<% @layout_application_description = "Daily exports of records providing a view into the Boston Police Department including officers, salaries, and complaints." %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Data Exports</h1>
      <p class="lead">Daily exports of records providing a view into the Boston Police Department (BPD)</p>
      <p>These <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a> files are produced daily from data in the Woke Windows database, all of which was originally sourced from public records provided by the <a href="https://www.boston.gov/">City of Boston</a>, the <a href="https://www.mass.gov/">Commonwealth of Massachusetts</a>, and other entities. These files are ready to be imported into <a href="https://www.microsoft.com/en-us/microsoft-365/excel">Microsoft Excel</a> or your preferred tool for data analysis.</p>
      <p>You can also download an entire backup of our PostgreSQL database. See our <a href="https://github.com/nstory/wokewindows">GitHub project page</a> for more information.</p>
      <p>Have you done something interesting with this data and want to share? Do you need help or have questions? Reach out to us at <%= contact_us %> or <a href="https://twitter.com/nathan_story">on Twitter</a>. We would love to hear from you!</p>
      <table class="table">
        <thead>
          <tr>
            <th>File</th>
            <th>Last Modified</th>
            <th>Size</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%# <%= render "table_row", export: @exports["citations"], key: "citations" %1> %>
          <tr>
            <td class="text-muted">citations.csv</td>
            <td><%= format_unknown %></td>
            <td><%= format_unknown %></td>
            <td><%= link_to "Docs", "#citations" %></td>
          </tr>
          <%= render "table_row", export: @exports["complaints_officers"], key: "complaints_officers" %>
          <%= render "table_row", export: @exports["contributions"], key: "contributions" %>
          <%= render "table_row", export: @exports["details"], key: "details" %>
          <%= render "table_row", export: @exports["field_contacts"], key: "field_contacts" %>
          <%= render "table_row", export: @exports["field_contact_names"], key: "field_contact_names" %>
          <%= render "table_row", export: @exports["officers"], key: "officers" %>
          <%= render "table_row", export: @exports["overtimes"], key: "overtimes" %>
        </tbody>
      </table>

      <h2 id="citations">Citations</h2>
      <%# <%= render "info", export: @exports["citations"] %1> %>
      <p><strong>This export is temporarily unavailable.</strong></p>
      <p>See <a href="https://github.com/nstory/boston_pd_citations">nstory/boston_pd_citations</a> to download traffic citation data for the 2011 to 2020 time period.</p>
      <p class="text-muted">Export of the <code>citations</code> table. This file lists every traffic citation issued by Boston Police officers in 2019. See <%= link_to "Traffic Citations", help_path("traffic_citations") %> for more information.</p>
      <p class="text-muted">Each citation appears multiple times in this file, once for each offense recorded on the ticket.</p>
      <p class="text-muted">These records have been joined with records from <a href="#officers">Officers</a>, which reflect our latest information about the officer.</p>
      <%= render "data_dictionary" do %>
        <tr>
          <td>ticket_number</td>
          <td>unique identifier for the citation; the same number will appear multiple times in the spreadsheet if the ticket is for multiple offenses</td>
        </tr>
        <tr>
          <td>issuing_agency</td>
          <td></td>
        </tr>
        <tr>
          <td>officer_number</td>
          <td>the six-digit City of Boston employee id of the officer</td>
        </tr>
        <tr>
          <td>ticket_type</td>
          <td>one of CIVIL, CRIM, or ARREST</td>
        </tr>
        <tr>
          <td>source</td>
          <td>one of POLICE, COURT, ECITATION, or VIOLATOR</td>
        </tr>
        <tr>
          <td>violator_type</td>
          <td>one of OPERATOR, OWN, PASS, or BIKE</td>
        </tr>
        <tr>
          <td>cdl</td>
          <td><a href="Commercial driver's license">https://en.wikipedia.org/wiki/Commercial_driver's_license</a> boolean</td>
        </tr>
        <tr>
          <td>license_class</td>
          <td>e.g. "D" for Class D license</td>
        </tr>
        <tr>
          <td>event_date</td>
          <td></td>
        </tr>
        <tr>
          <td>location_id</td>
          <td></td>
        </tr>
        <tr>
          <td>location_name</td>
          <td>city of Boston neighborhood</td>
        </tr>
        <tr>
          <td>posted_speed</td>
          <td></td>
        </tr>
        <tr>
          <td>violation_speed</td>
          <td></td>
        </tr>
        <tr>
          <td>posted</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>radar</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>clocked</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>race</td>
          <td></td>
        </tr>
        <tr>
          <td>sex</td>
          <td></td>
        </tr>
        <tr>
          <td>vehicle_color</td>
          <td></td>
        </tr>
        <tr>
          <td>make</td>
          <td></td>
        </tr>
        <tr>
          <td>model_year</td>
          <td></td>
        </tr>
        <tr>
          <td>sixteen_pass</td>
          <td>16+ passenger vehicle</td>
        </tr>
        <tr>
          <td>haz_mat</td>
          <td></td>
        </tr>
        <tr>
          <td>amount</td>
          <td></td>
        </tr>
        <tr>
          <td>paid</td>
          <td></td>
        </tr>
        <tr>
          <td>hearing_requested</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>court_code</td>
          <td>see <a href="https://www.mass.gov/info-details/trial-court-codes-numerical-listing">Trial Court codes</a> for mapping</td>
        </tr>
        <tr>
          <td>age</td>
          <td></td>
        </tr>
        <tr>
          <td>searched</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>offense</td>
          <td>code for an offense; seems to correspond to a section in the Massachusetts General Laws e.g. "90160" is <a href="https://malegislature.gov/Laws/GeneralLaws/PartI/TitleXIV/Chapter90/Section16">MGL c.90 ยง16</a></td>
        </tr>
        <tr>
          <td>description</td>
          <td>description of the offense</td>
        </tr>
        <tr>
          <td>assessment</td>
          <td>for the offense</td>
        </tr>
        <tr>
          <td>expected_assessment</td>
          <td>for the offense</td>
        </tr>
        <tr>
          <td>display_assessment</td>
          <td>for the offense</td>
        </tr>
        <tr>
          <td>disposition</td>
          <td>of the offense e.g. NPC</td>
        </tr>
        <tr>
          <td>disposition_description</td>
          <td>of the offense e.g. "No Probable Cause Found"</td>
        </tr>
        <tr>
          <td>major_incident</td>
          <td>for the offense; boolean</td>
        </tr>
        <tr>
          <td>surchargeable</td>
          <td>for the offense; boolean</td>
        </tr>
        <tr>
          <td>sdip_points</td>
          <td>for the offense; see <a href="https://www.mass.gov/info-details/safe-driver-insurance-plan-sdip">Safe Driver Insurance Plan (SDIP)</a></td>
        </tr>
        <tr>
          <td>officer_</td>
          <td>See <a href="#officers">Officers</a> for all fields prefixed with <code>officer_</code>. If these fields are blank, that means we weren't able to unambiguously match the officer name to one in our database.</td>
        </tr>
      <% end %>

      <h2 id="complaints_officers">Complaints - Officers</h2>
      <%= render "info", export: @exports["complaints_officers"] %>
      <p>Export of the <code>complaint_officers</code> table. This file lists every Internal Affairs (IA) allegation against a Boston Police Department officer or employee. See <%= link_to "Complaints (Internal Affairs)", help_path("internal_affairs") %> for further information including the data sources used to compile these data.</p>
      <p>These records have been joined with records from <a href="#officers">Officers</a>, which reflect our latest information about the officer.</p>

      <%= render "data_dictionary" do %>
        <tr>
          <td>ia_number</td>
          <td>identifier for the case; a given ia_number will appear multiple times in the file, once for each allegation against an officer. A case may include multiple officers.</td>
        </tr>
        <tr>
          <td>case_number</td>
          <td>only appears in the <%= link_to "2001 to 2011 IA data", page_path("help", anchor: "bpd_ia_data_2001_2011") %> file; may be a legacy identifier</td>
        </tr>
        <tr>
          <td>incident_type</td>
          <td>one of <code>Inquiry</code>, <code>Internal investigation</code>, <code>Citizen complaint</code>, <code>Preliminary Investigation</code>, or <code>General Inquiry</code></td>
        </tr>
        <tr>
          <td>received_date</td>
          <td></td>
        </tr>
        <tr>
          <td>occurred_date</td>
          <td>only appears in <%= link_to "2014 Officer IA Log", page_path("help", anchor: "2014_officer_ia_log") %></td>
        </tr>
        <tr>
          <td>summary</td>
          <td>only appears in <%= link_to "2014 Officer IA Log", page_path("help", anchor: "2014_officer_ia_log") %></td>
        </tr>
        <tr>
          <td>name</td>
          <td>name of the officer as it appears in the allegation</td>
        </tr>
        <tr>
          <td>title</td>
          <td>title of the officer as it appears in the allegation</td>
        </tr>
        <tr>
          <td>badge</td>
          <td>badge number of the officer as it appears in the allegation; note that badge numbers change over time and may be reassigned</td>
        </tr>
        <tr>
          <td>allegation</td>
          <td>e.g. "Neg.Duty/Unreasonable Judge"</td>
        </tr>
        <tr>
          <td>finding</td>
          <td>current status of the allegation; sometimes old allegations are in non-final states e.g. "Pending" or "Filed"; this most likely means it only appeared in an older data source, and we haven't received an updated status</td>
        </tr>
        <tr>
          <td>finding_date</td>
          <td></td>
        </tr>
        <tr>
          <td>officer_</td>
          <td>See <a href="#officers">Officers</a> for all fields prefixed with <code>officer_</code>. If these fields are blank, that means we weren't able to unambiguously match the officer name to one in our database.</td>
        </tr>
      <% end %>

      <h2 id="contributions">Contributions</h2>
      <%= render "info", export: @exports["contributions"] %>
      <p>Export of the <code>contributions</code> table. This file lists contributions to political candidates by Boston Police officers. See <%= link_to "Contributions", page_path("contributions") %>.</p>
      <p>These records have been joined with records from <a href="#officers">Officers</a>, which reflect our latest information about the officer.</p>
      <%= render "data_dictionary" do %>
        <tr>
          <td>date</td>
          <td><code>contribution_receipt_date</code> in the FEC data; <code>date</code> in the OCPF data</td>
        </tr>
        <tr>
          <td>contributor</td>
          <td>the name of the contributor</td>
        </tr>
        <tr>
          <td>zip</td>
          <td>the zip code the contributor provided as where they reside</td>
        </tr>
        <tr>
          <td>employer</td>
          <td>the contributor's stated employer</td>
        </tr>
        <tr>
          <td>occupation</td>
          <td>the contributor's stated occupation</td>
        </tr>
        <tr>
          <td>amount</td>
          <td>the amount donated</td>
        </tr>
        <tr>
          <td>committee_name</td>
          <td>the committee to which the contributor donated</td>
        </tr>
        <tr>
          <td>cpf_id</td>
          <td>the ID used by <a href="https://www.ocpf.us/">OCPF</a> to identify the committee</td>
        </tr>
        <tr>
          <td>candidate_full_name</td>
          <td>name of the candidate as provided by OCPF</td>
        </tr>
        <tr>
          <td>office_type</td>
          <td>office the candidate is seeking per OCPF</td>
        </tr>
        <tr>
          <td>district</td>
          <td>district in which the candidate is running for office per OCPF</td>
        </tr>
        <tr>
          <td>party_affiliation</td>
          <td>party affiliation of the committee; provided by OCPF for state data; for FEC data, determined manually by Woke Windows</td>
        </tr>
        <tr>
          <td>committee_id</td>
          <td>the ID used by the <a href="https://www.fec.gov/">FEC</a> to identify the committee</td>
        </tr>
        <tr>
          <td>memo_text</td>
          <td>from the FEC data</td>
        </tr>
        <tr>
          <td>receipt_type_full</td>
          <td>from the FEC data</td>
        </tr>
        <tr>
          <td>officer_</td>
          <td>See <a href="#officers">Officers</a> for all fields prefixed with <code>officer_</code>. If these fields are blank, that means we weren't able to unambiguously match the officer name to one in our database.</td>
        </tr>
      <% end %>

      <h2 id="details">Details</h2>
      <%= render "info", export: @exports["details"] %>
      <p>Export of the <code>details</code> table. This file lists paid details worked by BPD officers. See <%= link_to "Paid Details", page_path("help", anchor: "details") %> for more documentation.</p>
      <p>These records have been joined with records from <a href="#officers">Officers</a>, which reflect our latest information about the officer.</p>
      <%= render "data_dictionary" do %>
        <tr>
          <td>tracking_no</td>
          <td>unique id for each record from the <a href="/pages/help#detail_records">Detail Records 2019 Spreadsheet</a></td>
        </tr>
        <tr>
          <td>employee_number</td>
          <td>the six-digit City of Boston employee id of the officer</td>
        </tr>
        <tr>
          <td>employee_name</td>
          <td>the name of the officer</td>
        </tr>
        <tr>
          <td>employee_rank</td>
          <td>a number indicating the officer's rank</td>
        </tr>
        <tr>
          <td>customer_number</td>
          <td></td>
        </tr>
        <tr>
          <td>customer_name</td>
          <td></td>
        </tr>
        <tr>
          <td>street_no</td>
          <td></td>
        </tr>
        <tr>
          <td>street</td>
          <td></td>
        </tr>
        <tr>
          <td>xstreet</td>
          <td></td>
        </tr>
        <tr>
          <td>start_date_time</td>
          <td></td>
        </tr>
        <tr>
          <td>end_date_time</td>
          <td></td>
        </tr>
        <tr>
          <td>minutes_worked</td>
          <td></td>
        </tr>
        <tr>
          <td>detail_type</td>
          <td><code>C</code> or <code>S</code> which I believe stand for Construction and Security respectively</td>
        </tr>
        <tr>
          <td>pay_hours</td>
          <td>the number of hours for which the officer was paid after taking into account rules that "round up"</td>
        </tr>
        <tr>
          <td>pay_amount</td>
          <td></td>
        </tr>
        <tr>
          <td>pay_rate</td>
          <td>hourly rate; I believe this is based on the employee's rank</td>
        </tr>
        <tr>
          <td>latitude</td>
          <td>latitude geocoded by Woke Windows based on the street_no, street, and/or xstreet fields</td>
        </tr>
        <tr>
          <td>longitude</td>
          <td>also geocoded</td>
        </tr>
        <tr>
          <td>officer_</td>
          <td>See <a href="#officers">Officers</a> for all fields prefixed with <code>officer_</code>. If these fields are blank, that means we weren't able to unambiguously match the officer name to one in our database.</td>
        </tr>
      <% end %>

      <h2 id="field_contacts">Field Contacts</h2>
      <%= render "info", export: @exports["field_contacts"] %>
      <p>Export of the <code>field_contacts</code> table. This file contains Field Interrogation and Observation (FIO) reports filed by Boston Police officers from mid-2015 through 2019. See <%= link_to "Field Contacts (FIO)", page_path("help", anchor: "field_contacts") %> for more information.</p>
      <p>These records have been joined with records from <a href="#officers">Officers</a>, which reflect our latest information about the officer.</p>
      <%= render "data_dictionary" do %>
        <tr>
          <td>fc_num</td>
          <td>unique identifier for this FIO</td>
        </tr>
        <tr>
          <td>contact_date</td>
          <td>date and time of the FIO</td>
        </tr>
        <tr>
          <td>contact_officer_employee_id</td>
          <td>six-digit City of Boston employee id of the officer who filed the report</td>
        </tr>
        <tr>
          <td>contact_officer_name</td>
          <td>name of the officer</td>
        </tr>
        <tr>
          <td>supervisor_employee_id</td>
          <td>six-digit City of Boston employee id of the supervising officer</td>
        </tr>
        <tr>
          <td>supervisor_name</td>
          <td></td>
        </tr>
        <tr>
          <td>street</td>
          <td>street name; sometimes this is an intersection or even an address</td>
        </tr>
        <tr>
          <td>city</td>
          <td>this is usually "boston" but sometimes this is a neighborhood</td>
        </tr>
        <tr>
          <td>state</td>
          <td>almost always MA</td>
        </tr>
        <tr>
          <td>zip</td>
          <td>zip code</td>
        </tr>
        <tr>
          <td>frisked_searched</td>
          <td>true if any person was frisked/searched during this contact</td>
        </tr>
        <tr>
          <td>circumstance</td>
          <td>one of: stopped, encountered, observed</td>
        </tr>
        <tr>
          <td>basis</td>
          <td>one of: probably_cause, reasonable_suspicion, encounter, intel</td>
        </tr>
        <tr>
          <td>vehicle_year</td>
          <td></td>
        </tr>
        <tr>
          <td>vehicle_state</td>
          <td></td>
        </tr>
        <tr>
          <td>vehicle_make</td>
          <td>e.g. "honda"</td>
        </tr>
        <tr>
          <td>vehicle_model</td>
          <td>e.g. "civic"</td>
        </tr>
        <tr>
          <td>vehicle_color</td>
          <td></td>
        </tr>
        <tr>
          <td>vehicle_style</td>
          <td>e.g. "hatchback, 4 door"</td>
        </tr>
        <tr>
          <td>vehicle_type</td>
          <td>e.g. "station wagon"</td>
        </tr>
        <tr>
          <td>key_situations</td>
          <td>this is a comma separated list of values</td>
        </tr>
        <tr>
          <td>narrative</td>
          <td>prose description of the stop</td>
        </tr>
        <tr>
          <td>weather</td>
          <td>e.g. "sunny"</td>
        </tr>
        <tr>
          <td>field_contact_names_count</td>
          <td>the number of persons who were FIO'd as part of this encounter</td>
        </tr>
        <tr>
          <td>stop_duration</td>
          <td>e.g. "ten_to_fifteen_minutes"</td>
        </tr>
        <tr>
          <td>search_vehicle</td>
          <td>boolean indicating whether the vehicle was searched</td>
        </tr>
        <tr>
          <td>summons_issued</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>officer_</td>
          <td>Additional information about the contact_officer. See <a href="#officers">Officers</a> for all fields prefixed with <code>officer_</code>. If these fields are blank, that means we weren't able to match the officer name to one in our database.</td>
        </tr>
      <% end %>

      <h2 id="field_contact_names">Field Contact Names</h2>
      <%= render "info", export: @exports["field_contact_names"] %>
      <p>Export of the <code>field_contact_names</code> table. This file contains one row for each individual who was FIO'd by Boston Police officers from mid-2015 through 2019. See <%= link_to "Field Contacts (FIO)", page_path("help", anchor: "field_contacts") %> for more information.</p>
      <p>These records have been joined with records from <a href="#field_contacts">Field Contacts</a>, and with records from <a href="#officers">Officers</a>.</p>
      <%= render "data_dictionary" do %>
        <tr>
          <td>fc_num</td>
          <td>the unique identifier of the associated field_contact</td>
        </tr>
        <tr>
          <td>race</td>
          <td>race of the individual</td>
        </tr>
        <tr>
          <td>age</td>
          <td></td>
        </tr>
        <tr>
          <td>build</td>
          <td>e.g. "muscular"</td>
        </tr>
        <tr>
          <td>hair_style</td>
          <td>e.g. "braided"</td>
        </tr>
        <tr>
          <td>skin_tone</td>
          <td>e.g. "brown"</td>
        </tr>
        <tr>
          <td>ethnicity</td>
          <td>either "hispanic origin" or "not of hispanic origin"</td>
        </tr>
        <tr>
          <td>other_clothing</td>
          <td></td>
        </tr>
        <tr>
          <td>license_state</td>
          <td></td>
        </tr>
        <tr>
          <td>license_type</td>
          <td>e.g. "class d"</td>
        </tr>
        <tr>
          <td>frisked_searched</td>
          <td>whether the individual was frisked/searched; only appears in data starting Sep 29, 2019</td>
        </tr>
        <tr>
          <td>gender</td>
          <td></td>
        </tr>
        <tr>
          <td>field_contact_</td>
          <td>See <a href="#field_contacts">Field Contacts</a> for all fields prefixed with <code>field_contact_</code></td>
        </tr>
      <% end %>

      <h2 id="officers">Officers</h2>
      <%= render "info", export: @exports["officers"] %>
      <p>Export of the <code>officers</code> table. This file lists every officer and civilian employee of the Boston Police Department along with fields collected from multiple sources. See <%= link_to "Officers & Employees", page_path("help", anchor: "officers") %>.</p>
      <%= render "data_dictionary" do %>
        <tr>
          <td>active</td>
          <td>whether the employee is currently employed at BPD; if the employee appears in <%= link_to "2020 Alpha Listing", page_path("help", anchor: "alpha_listing_20200715") %> or in a later <%= link_to "public journal", page_path("help", anchor: "district_journal") %>, they are considered active</td>
        </tr>
        <tr>
          <td>employee_id</td>
          <td>City of Boston employee id; useful for joining to other datasets</td>
        </tr>
        <tr>
          <td>name</td>
          <td>Officer's name taken from earnings reports or alpha listing</td>
        </tr>
        <tr>
          <td>organization</td>
          <td>The organization for which the officer works within the department</td>
        </tr>
        <tr>
          <td>title</td>
          <td>Officer's title, taken from earnings reports or alpha listing</td>
        </tr>
        <tr>
          <td>doa</td>
          <td>Date of Appointment. Officer's start date</td>
        </tr>
        <tr>
          <td>badge</td>
          <td>badge number from most recent alpha listing where officer appears. This is not a unique identifier; the numbers may be re-used overtime.</td>
        </tr>
        <tr>
          <td>zip_code</td>
          <td>five-digit zip code where officer resides</td>
        </tr>
        <tr>
          <td>city</td>
          <td>city where officer resides (derived from zip code)</td>
        </tr>
        <tr>
          <td>state</td>
          <td>two-letter abbreviation for state where officer resides (derived from zip code)</td>
        </tr>
        <tr>
          <td>neighborhood</td>
          <td>neighborhood where officer resides or blank if officer does not reside in Boston (derived from zip code); see <%= link_to "Zip Code and Neighborhood", page_path("help", anchor: "officer_zip_code") %></td>
        </tr>
        <tr>
          <td>regular</td>
          <td>2019 regular earnings; this and other earnings columns are sourced from <%= link_to "Employee Earnings Reports", page_path("help", anchor: "employee_earnings") %></td>
        </tr>
        <tr>
          <td>retro</td>
          <td>2019 retroactive earnings</td>
        </tr>
        <tr>
          <td>other</td>
          <td>2019 other earnings</td>
        </tr>
        <tr>
          <td>overtime</td>
          <td>2019 overtime earnings</td>
        </tr>
        <tr>
          <td>injured</td>
          <td>2019 injured pay earnings</td>
        </tr>
        <tr>
          <td>detail</td>
          <td>2019 earnings from working <%= link_to "paid details", page_path("help", anchor: "details") %></td>
        </tr>
        <tr>
          <td>quinn</td>
          <td>2019 earnings from education incentive</td>
        </tr>
        <tr>
          <td>total</td>
          <td>2019 total earnings</td>
        </tr>
        <tr>
          <td>rank</td>
          <td>officer rank e.g. <code>sergt</code> for Sergeant; the <code>title</code> column also often has this information</td>
        </tr>
        <tr>
          <td>ia_score</td>
          <td>metric calculated by Woke Windows based on the officer's Internal Affairs (IA) record; a number from <code>0</code> (least concerning) to <code>5</code> (very concerning); see <%= link_to "IA Score", help_path("internal_affairs", anchor: "ia_score") %></td>
        </tr>
        <tr>
          <td>ia_sustained_conduct_unbecoming</td>
          <td>number of cases with the sustained allegation "Conduct Unbecoming"</td>
        </tr>
        <tr>
          <td>ia_sustained_neg_duty</td>
          <td>number of cases with the sustained allegation "Neg.Duty/Unreasonable Judge"</td>
        </tr>
        <tr>
          <td>ia_sustained_respectful_treatment</td>
          <td>number of cases with the sustained allegation "Respectful Treatment"</td>
        </tr>
        <tr>
          <td>ia_sustained_self_identification</td>
          <td>number of cases with the sustained allegation "Self Identification"</td>
        </tr>
        <tr>
          <td>ia_sustained_use_of_force</td>
          <td>number of cases with the sustained allegation "Use of Force"</td>
        </tr>
        <tr>
          <td>ia_sustained_details</td>
          <td>number of cases with sustained allegations related to paid details. This allegation only appears in the <a href="/pages/help#bpd_ia_data_2001_2011">2001 to 2011 IA Data</a>; it's unclear how this type of allegation is coded after 2011.</td>
        </tr>
        <tr>
          <td>ia_sustained_cases</td>
          <td>number of cases with at least one sustained allegation</td>
        </tr>
        <tr>
          <td>ia_sustained_allegations</td>
          <td>total number of sustained allegations</td>
        </tr>
        <tr>
          <td>ia_cases</td>
          <td>total number of "Internal Investigation" and "Citizen Complaint" cases</td>
        </tr>
        <tr>
          <td>ia_allegations</td>
          <td>total number of allegations in "Internal Investigation" and "Citizen Complaint" cases</td>
        </tr>
        <tr>
          <td>field_contacts_count</td>
          <td>total number of FIO records where this officer is the contact officer; see <%= link_to "Field Contacts (FIO)", page_path("help", anchor: "field_contacts") %></td>
        </tr>
        <tr>
          <td>incidents_count</td>
          <td>total number of incidents filed by this officer (note: this is most likely an undercount because we don't know the filing officer for many incidents)</td>
        </tr>
        <tr>
          <td>complaints_count</td>
          <td>total number of Internal Affairs complaints</td>
        </tr>
        <tr>
          <td>swats_count</td>
          <td>total number of SWAT reports</td>
        </tr>
        <tr>
          <td>details_count</td>
          <td>total number of paid details</td>
        </tr>
        <tr>
          <td>citations_count</td>
          <td>total number of traffic citations</td>
        </tr>
        <tr>
          <td>articles_officers_count</td>
          <td>total number of articles where this officer is mentioned</td>
        </tr>
        <tr>
          <td>retirement_date</td>
          <td>when the employee retired per data from the Boston Retirement System</td>
        </tr>
        <tr>
          <td>retirement_amount</td>
          <td>gross monthly amount the employee is being paid in retirement</td>
        </tr>
        <tr>
          <td>lead_added</td>
          <td>the date the officer was added to <%= link_to "Law Enforcement Automatic Discovery (LEAD)", help_path("lead") %></td>
        </tr>
        <tr>
          <td>lead_entry</td>
          <td>information on why the officer was added to <%= link_to "LEAD", help_path("lead") %></td>
        </tr>
        <tr>
          <td>url</td>
          <td>link to the page for the officer on Woke Windows</td>
        </tr>
      <% end %>

      <h2 id="overtimes">Court Overtime Shifts</h2>
      <%= render "info", export: @exports["overtimes"] %>
      <p>Export of the <code>overtimes</code> table. This file lists court-related overtime worked by police officers and detectives. See <%= link_to "Court Overtime 2014 to 2019", data_source_path("court_overtime_2014_2019") %> for more information regarding these records and their origin.</p>
      <p>These records have been joined with records from <a href="#officers">Officers</a>, which reflect our latest information about the officer.</p>
      <%= render "data_dictionary" do %>
        <tr>
          <td>employee_id</td>
          <td>six-digit City of Boston employee id of the officer who filed the report</td>
        </tr>
        <tr>
          <td>name</td>
          <td>name of the officer</td>
        </tr>
        <tr>
          <td>rank</td>
          <td>rank of the officer</td>
        </tr>
        <tr>
          <td>assigned</td>
          <td>this corresponds to the organization the officer is assigned to</td>
        </tr>
        <tr>
          <td>charged</td>
          <td>the name of an organization, usually the same as assigned</td>
        </tr>
        <tr>
          <td>date</td>
          <td>the date when the overtime was worked</td>
        </tr>
        <tr>
          <td>code</td>
          <td>code for the type of overtime</td>
        </tr>
        <tr>
          <td>description</td>
          <td>description of the type of overtime</td>
        </tr>
        <tr>
          <td>start_time</td>
          <td></td>
        </tr>
        <tr>
          <td>end_time</td>
          <td></td>
        </tr>
        <tr>
          <td>worked_hours</td>
          <td>difference between start_time and end_time as provided in <%= link_to "Court Overtime 2014 to 2019", data_source_path("court_overtime_2014_2019") %></td>
        </tr>
        <tr>
          <td>ot_hours</td>
          <td>worked_hours after rounding-up logic is applied (e.g. anything under four hours is rounded up to four)</td>
        </tr>
        <tr>
          <td>officer_</td>
          <td>Additional information about the contact_officer. See <a href="#officers">Officers</a> for all fields prefixed with <code>officer_</code>.</td>
        </tr>
      <% end %>
    </div>
  </div>
</div>
