<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# disable caching b/c restoration visits are complicated %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <% title = "#{@layout_application_title ? @layout_application_title +' — ' : ''}StateReference Window" %>
    <title><%= title %></title>

    <% if @layout_application_description %>
      <meta name="description" content="<%= @layout_application_description %>">
    <% end %>

    <% if @layout_application_canonical %>
      <link rel="canonical" href="<%= @layout_application_canonical %>">
    <% end %>

    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:image" content="<%= image_url('brand-128.png') %>" />

    <% if @layout_application_description %>
      <meta property="og:description" content="<%= @layout_application_description %>" />
    <% end %>

    <% if @layout_application_canonical %>
      <meta property="og:url" content="<%= @layout_application_canonical %>" />
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% layout = @layout_application_fullscreen ? "shared/layouts/fullscreen" : "shared/layouts/normal" %>
    <%= render layout do %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    <% end %>

    <% unless @layout_application_fullscreen %>
      <%= render "shared/free_palestine" %>
    <% end %>
  </body>
</html>
