<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# disable caching b/c restoration visits mess up datatables.net  %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <% if @layout_application_title %>
      <title><%= @layout_application_title %> &mdash; The Woke Windows Project</title>
    <% else %>
      <title>The Woke Windows Project</title>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% layout = @layout_application_fullscreen ? "shared/layouts/fullscreen" : "shared/layouts/normal" %>
    <%= render layout do %>
      <%= yield %>
    <% end %>
  </body>
</html>
