<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# disable caching b/c restoration visits mess up datatables.net  %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <title>Copsonrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% if @layout_application_fullscreen %>
        <%= render "shared/navbar_content" %>
      <% else %>
        <div class="container">
          <%= render "shared/navbar_content" %>
        </div>
      <% end %>
    </nav>
    <%= yield %>
    <%= yield :javascript %>

    <% if !@layout_application_fullscreen %>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col">
              This is an unfinished open-source project. Please use it for good. Please refrain from evil.
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
